# 第12回 表データの処理

___
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/tsuboshun/begin-python/blob/gh-pages/2024/workbook/lecture12.ipynb)

___

## この授業で学ぶこと

今回は表データの処理をテーマに、Pandasという表データ解析ライブラリの使い方を学ぶ。またファイルの入出力について学ぶ。これまではPythonプログラムの中で閉じた話がほとんどであったが、ファイルの入出力を学ぶことで、パソコン上のファイルに対して自由な処理を行えるようになったり、プログラムの実行結果を永続的に保存できるようになったりするなど出来ることの幅がぐんと広がる。

## Pandas入門

Pythonでは、表形式のデータ（テーブルデータ）を扱うのに**Pandas**というライブラリがよく用いられる。

Pandasを使うには、pandasモジュールをimportする。`import pandas as pd` として `pd` という省略名をつけながらインポートするのが慣例となっている。

ここでは説明のため、seabornというライブラリにサンプルとして用意されている `'diamonds'` というテーブルデータを使用する（データの説明は[こちら](https://ggplot2.tidyverse.org/reference/diamonds.html)）。`load_dataset()` 関数によりサンプルのテーブルデータを取得できる。このようなデータの集まりのことを**データセット**という。

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
df = sns.load_dataset('diamonds')

### データフレーム

Pandasにおいてテーブルデータのことを**データフレーム**（**DataFrame**）という。
データフレームの持つ `head()` メソッドにより、先頭から5件のデータを表示することができる。
`head(10)` のように引数に整数を渡すことで、その件数だけデータを表示することもできる。

In [ ]:
type(df)

In [ ]:
df.head()

データフレームは、2次元配列の行方向と列方向にラベルがついたものと理解することができる。行方向のラベルのことを**インデックス**（**index**）、列方向のラベルのことを**カラム**（**column**）という。データフレームのインデックスは0始まりの連続した整数とは限らない。インデックスとカラムの値を指定して、要素にアクセスするには `loc` を使って次のように書く。

In [ ]:
df.loc[0, "carat"]

二次元配列と同じように、左上からの順番（0始まりの連続した整数）をもとに要素にアクセスするには `iloc` を使って次のように書く。

In [ ]:
df.iloc[0, 0]

データフレームは2次元配列と相互に変換することができる。データフレームから2次元配列を取得するには、`values` 属性にアクセスすればよい。

In [ ]:
array = df.values
array

2次元配列からデータフレームを作成するには次のように書く。

In [ ]:
df2 = pd.DataFrame(array)
df2.head()

カラムのデフォルト値は0始まりの整数である。データフレームの作成時にカラムを設定するには、次のように書く。

In [ ]:
df2 = pd.DataFrame(array, columns=['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y', 'z'])
df2.head()

### シリーズ

データフレームは2次元配列に行ラベル・列ラベルをつけたものであった。
Pandasには、1次元配列に行ラベルをつけたデータ型も用意されており、**シリーズ**（**Series**）という。

データフレームに対してカラムの値を `[]` で指定すると、その列のデータをシリーズとして取得できる。

In [ ]:
s = df["carat"]
type(s)

In [ ]:
s.head()

インデックスの値を指定して、要素にアクセスするには `loc` または `iloc` を使って次のように書く。

In [ ]:
s.loc[0]

In [ ]:
s.iloc[0]

シリーズは1次元配列と相互に変換することができる。シリーズから1次元配列を取得するには、`values` 属性にアクセスすればよい。

In [ ]:
array = s.values
array

1次元配列からシリーズを作成するには次のように書く。

In [ ]:
s2 = pd.Series(array)
s2.head()

### テーブル操作

データフレームを使うと、テーブルデータでよく行われる操作を簡単に実現することができる。データフレーム上でテーブルデータを加工し、加工したテーブルデータの値を配列として取得して、Matplotlibなど他のライブラリに渡すというのがよくある使い方である。以下にいくつかの操作を紹介する。

#### ソート

`sort_values()` メソッドにより、引数に渡した列を基準にソートすることができる。デフォルトでは昇順にソートする。ソートした結果のデータフレームが戻り値として返されるので、以下のコードではそれを変数 `df` に再代入している。

In [ ]:
df = df.sort_values("carat")
df.head()

降順にソートしたい場合は、引数に `ascending=False` を指定する。

In [ ]:
df = df.sort_values("carat", ascending=False)
df.head()

#### フィルタリング

テーブルデータの中から特定の条件を満たす行を抽出することを**フィルタリング**という。

フィルタリングを行うには、どのインデックスの行を抽出するかをブール型で表したシリーズを `loc` で指定する。例えば、`cut` の種類が `Premium` の行を抽出したいとしよう。このとき `cut` の種類が `Premium` かどうかを表すシリーズを次のように作成できる。これを**マスク**という。

In [ ]:
mask = df['cut'] == 'Premium'
mask

このシリーズを `loc`で指定することで、データフレームから `cut` の種類が `Premium` の行のみ抽出することができる。

In [ ]:
df_premium = df.loc[mask]
df_premium.head()

複数の条件を指定するには、`&` や `|` を使う。それぞれの意味はブール型における `and` と `or` と同じである。例えば、`cut` の種類が `Premium` かつ `price` が `1000` より大きい行は以下のように抽出できる。

In [ ]:
mask = (df['cut'] == 'Premium') & (df['price'] > 1000)
df_premium_1000 = df.loc[mask]
df_premium_1000.head()

#### 列の演算

シリーズは、配列と同様に各種演算を行うことができる。またデータフレームの列の追加や更新は代入文により行うことができる。
例えば、`x`、`y`、`z` の総和を求めて、その結果を `sum` という列として保持するには、以下のように書く。

In [ ]:
df['sum'] = df['x'] + df['y'] + df['z']
df.head()

例えば、`price` の対数を計算して `price_log` という列として保持するには、以下のように書く。
このようにデータが数値の列に対して、NumPyの関数を適用することも可能である。

In [ ]:
df['price_log'] = np.log(df['price'])
df.head()

#### 欠損値

テーブルデータを調べていると `NaN` という値を見かけることがある。これは Not a Number の略で**欠損値**と呼ばれる。

例として `(0, 0)` 要素に `None` を代入して、あえて `NaN` を含むデータを作成してみよう。pandasでは `None` のほか `float('nan')`、`np.nan` なども欠損値と見なされる。以下では、もとのデータフレームは上書きしないように `copy()` メソッドによりコピーしたデータフレームを使った例を示す。

In [ ]:
df_tmp = df.copy()
df_tmp.iloc[0, 0] = None

In [ ]:
df_tmp.head()

特定の列の各行が欠損値であるかを表すマスクは、`isnull()` メソッドにより作成できる。

In [ ]:
mask = df_tmp["carat"].isnull()
df_tmp[mask].head()

分析によっては、欠損値が邪魔になることがある。このときの対処法としては、欠損値を含む行または列を削除する、または代表値で置き換えるなどの方法がある。

欠損値を含む行を削除するには、以下のように書く。

In [ ]:
df_dropna = df_tmp.dropna()
df_dropna.head()

欠損値を全体の平均値で置き換えるには、以下のように書く。

In [ ]:
df_fillna = df_tmp.copy()
mean = df_tmp["carat"].mean()  # カラットの平均値
df_fillna["carat"] = df_tmp["carat"].fillna(mean)
df_fillna.head()

**練習1**  
`diamonds` データセットにおいて、カット `"cut"` の種類が `"Ideal"` のデータにおける価格の平均、カラットの平均を求めなさい。
<font color=cornflowerblue>ヒント：平均値は `シリーズ.mean()` でも求められるし、一旦配列に変換してから `np.mean()` 関数を使って求めてもよい。</font>

**練習2**  
`diamonds` データセットにおいて価格上位5件、下位5件のデータを表示しなさい。

## ファイルの入出力

Pandasから話題を変えて、この節ではファイルの入出力について学ぶ。

### Googleドライブのマウント

Google Colab上でファイルを扱うために、最初にGoogleドライブに接続する必要がある（**マウント**という）。 ここではマウントの手順を説明する。

サイドメニューから以下の順番でアイコンをクリックする。

```{figure} ./pic/drive1.png
---
width: 500px
name: drive1
---
Googleドライブのマウント
```

そうすると以下のようなコードがノートブック上に現れるので、これを実行する。
実行するとアカウントのログイン画面が表示され、その後Googleドライブのマウントを許可するか聞かれるので、許可するを選択する。

```{figure} ./pic/drive2.png
---
width: 500px
name: drive2
---
Googleドライブのマウント
```

マウントしたあと左のウィンドウ上で `/content/drive/MyDrive` を見に行くと、Googleドライブ上のファイル・フォルダが確認できるはずである。

```{figure} ./pic/drive3.png
---
width: 500px
name: drive3
---
Googleドライブのマウント
```

### ファイルの読み込み

練習用のファイルとして次のデータが書かれたsample.csvを用意し（ToyoNet-ACEでも配布する予定）、Googleドライブのマイドライブ直下に置く。それ以外の場所に置いた場合は以降のコードの `path` を適宜変更する。このように各要素がカンマ（,）で区切られて書かれたテキストデータを**CSV**ファイルという（CSVは Comma-Separated Values の略）。

<pre>8,7,9,6,9
4,5,8,7,6
9,9,9,8,9
6,7,9,7,8</pre>

このファイルの中身は組み込み関数の `open()` を使って、次のように読み込むことができる。

In [ ]:
path = "/content/drive/MyDrive/sample.csv"
f = open(path, mode='r')

content = f.read()
print(content)

f.close()

`open()` 関数は、第一引数にファイルの存在する場所（**パス**という）、第二引数にモードを渡す。
パスは文字列で表し、フォルダを1つ下るごとに `/` で区切って `content` フォルダからの位置関係を表現する。
第二引数に渡している `'r'` は読み込みモードを表す。

`open()` 関数の返すファイルオブジェクト `f` に対して、`read()` メソッドを呼び出すと、ファイルの中身を文字列として取得できる。
最後に、開いたファイルオブジェクトを `f.close()` により閉じている。

`read()` メソッドはファイル全体を文字列として読み込むが、for文により一行ずつ読み込むこともできる。

In [ ]:
f = open(path, mode='r')

for line in f:
    print(line)

f.close()

さて `sample.csv` の中身は各行が一人一人の学生、各列が何かしらのスコアを表していたとしよう（つまり学生4人・スコア5つ）。このときデータを2次元リストとして読み込めると、分析の際に便利である。次のコードにより、ファイルの中身を2次元リストとして読み込むことができる。

In [ ]:
f = open(path, mode='r')

data = []
for line in f:
    data.append(line.strip().split(','))
print(data)

f.close()

ここで各行の文字列 `line` について、まず `strip()` メソッドにより改行文字 `\n` を取り除き、次に `split(',')` メソッドによりカンマで区切ってリストに変換している。例として、`line` にファイルの1行目 `"8,7,9,6,9\n"` が代入されたときの処理の流れを、以下に示す。

<pre>
line.strip().split(',')
</pre>
↓ `line` の指す値に置き換え
<pre>
"8,7,9,6,9\n".strip().split(',')
</pre>
↓ `strip()` メソッドの適用
<pre>
"8,7,9,6,9".split(',')
</pre>
↓ `split()` メソッドの適用
<pre>
['8', '7', '9', '6', '9']
</pre>

よって、`data.append(line.strip().split(','))` は `data.append(['8', '7', '9', '6', '9'])` と同じことであり、これにより2次元リスト `data` の末尾に1次元リスト `['8', '7', '9', '6', '9']` が追加される。

注意点として、この時点では `data` の各要素は文字列型となっている。そこで分析前に整数型または浮動小数点数型に変換しておく。

In [ ]:
for i in range(len(data)):
    for j in range(len(data[i])):
        data[i][j] = int(data[i][j])  # 小数を含むならfloat()

In [ ]:
data

### ファイルの書き込み

読み込んだデータをもとに各生徒の平均スコアを求めて、ファイルに出力してみよう。

まず出力用のパスを入力とは別に設定する。`open()` 関数を書き込みモード（`'w'`） で呼び出し、書き込み用のファイルオブジェクト `f` を取得する。平均値の計算は、`np.mean()` 関数により行っている。そして結果を `f.write()` によりファイルに書き込んでいる。入力と同じように1行1学生となるように、最後に改行 `\n` を入れている。

ファイルへの書き込みを終えたら、`f.flush()`、`f.close()` を順に呼び出してファイルを閉じる。実は `f.write()` を呼び出した時点では、ファイルへの書き込みを予約した状態に過ぎず、OSの状態によっては実際の書き込みは後回しにされてしまう。`f.flush()` は、ファイルへの書き込みを確実に完了させる働きを持つ。

In [ ]:
output_path = "/content/drive/MyDrive/sample_mean.txt"
f = open(output_path, mode='w')

for lst in data:
    mean = np.mean(lst)
    f.write(f"{mean}\n")

f.flush()
f.close()

ここで紹介した書き込み方法では、毎回ファイルの内容が上書きされる。
そうではなく、ファイルの末尾に追記したい場合には追記モード（`'a'`） を指定する。
ファイルオブジェクトの使い方は書き込みモード（`'w'`）の場合と全く同じである。

**練習3**  
上の例では、各学生の平均スコアを求めてファイルに出力した。これを参考に、平均スコアの代わりにスコアの標準偏差を求めてファイルに出力しなさい。ファイル名は sample_std.txt とすること。これは必須ではないが、可能なら小数は第3位を四捨五入して第2位までを求めなさい（第3回のf文字列の節を[参照](label:round)）。標準偏差は `np.std()` 関数により求めることができる。

<font color=cornflowerblue>ヒント: 学生は4人いるので、標準偏差も4つ求まることになる。sample_std.txt は次のような見た目になる。ヒントとして1行目の答えは 1.17 になる（四捨五入せずに1.16619…という解答でも正解とする）。</font>
```
1.17
*
*
*
```

### NumPyやPandasを使った方法

ファイルの中身を直接、配列やデータフレームとして読み込めると便利なため、NumPy、Pandasにそれ用の関数が用意されている。

ファイルの中身を配列として読み込むには `np.loadtxt()` 関数を使う。第一引数にファイルパスを指定し、キーワード引数 `delimiter` で区切り文字を指定する。

In [ ]:
data = np.loadtxt(path, delimiter=",")
data

ファイルの中身をデータフレームとして読み込むには `pd.read_csv()` 関数を使う。第一引数にファイルパスを指定する。さらに列名の情報を含まないファイルの場合は、`header=None` を指定する。

In [ ]:
df_sample = pd.read_csv(path, header=None)
df_sample

逆に配列やデータフレームの中身をファイルに書き込むには、`np.savetxt()` 関数や `to_csv()` メソッドを用いる。

In [ ]:
np.savetxt("/content/drive/MyDrive/sample_array.csv", data, delimiter=",")

In [ ]:
df_sample.to_csv("/content/drive/MyDrive/sample_df.csv", header=None, index=None)